<footer class="footer">
    <a href="{{site.baseurl}}/" class="footer-logo"><img src="{{site.baseurl}}/images/logo-en-reverse.svg" alt=""></a>
    <ul class="footer-menu">
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="https://github.com/uncefact" target="_blank">Github</a></li>
        <li><a href="#" target="_blank">Newsletter</a></li>
        <li><a href="#" target="_blank">Join</a> <a href="#" target="_blank">team</a></li>
    </ul>
</footer>
<script src="{{site.baseurl}}/js/anchor.min.js"></script>
<script>
    anchors.add('h2, h3, h4');
</script>

